<div class="card text-white bg-success mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <%= image_tag movie.image.url(:medium) %>
      <div id="<%= dom_id movie %>">
        <p>
          <strong>Title:</strong>
          <%= movie.title %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= link_to movie.category.name, movie.category %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= movie.description %>
        </p>
        <%= link_to "Write A Review", new_movie_review_path(@movie) %>
      </div>
   
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>

        <% if @reviews.blank? %>
            <h3>No reviews just yet, would you like to add the first! </h3>
            <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
          <%else%>
            <% @reviews.each do |review| %>
              <div class="reviews">
               <p><%= review.ratind %></p>
                <p><%= review.comment %></p>
              </div>
            <% end %>
          <% end %>
      </div>
      </div>
</div>




  